* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

/** Colors  */
.header,
.hero {
  background-color: #1f2936;
}

.logo a,
h1 {
  color: #f9faf8;
  font-weight: 700;
}

.nav a,
.hero p {
  color: #e5e7eb;
}

/** Header */
.header .wrapper {
  display: flex;
  box-sizing: border-box;
  height: 65px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.nav ul {
  display: flex;
  font-size: 18px;
  gap: 25px;
}

/** Hero section */
.hero .wrapper {
  display: flex;
  padding-top: 104px;
  padding-bottom: 128px;
  justify-content: space-between;
}

.hero__text {
  width: 450px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.hero__text p {
  font-size: 18px;
  margin: 0;
}

.hero__btn {
  margin-top: 12px;
}

.hero__btn button {
  color: #fff;
  background-color: #3882f6;
  border: none;
  padding: 8px 34px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
}

.hero__image {
  margin-top: -4px;
}

/** Info section */
.info {
  padding-bottom: 122px;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 48px 0;
}

.info__container {
  display: flex;
  justify-content: center;
  gap: 49px;
}

.info__container-item {
  width: 168px;
}

.info__container-item img {
  display: block;
  box-sizing: border-box;
  border: 4px solid #3882f6;
  width: 168px;
  height: 168px;
  border-radius: 16px;
}

.info__container p {
  margin: 0;
  text-align: center;
  font-size: 18px;
  margin: 7px 4px 0 0;
}

/** Quote section */
.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 429px;
  background-color: #e5e7eb;
}

.quote blockquote {
  margin: 0;
  width: 791px;
  padding-top: 28px;
  padding-left: 38px;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.quote p {
  margin: 0;
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  padding-right: 29px;
}

/** Sign-up section */

.sign-up__banner {
  background-color: #3882f6;
  max-width: 800px;
  padding-inline: 120px;
  margin: 100px auto;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.banner__left h3{
  margin: 0;
  font-size: 24px;
  color: #ffffff;
}

.banner__left p {
  margin: 0;
  font-size: 18px;
  color: #e5e7eb;
}

.banner__right {
  box-sizing: border-box;
  width: 130px;
  height: 35px;
  margin-top: 5px;
}

.banner__right button {
  width: 100%;
  height: 100%;
  font-size: 18px;
  background-color: #3882f6;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
}




/** Hover effects */

button:hover {
  cursor: pointer;
  transition: 0.2s ease-in;
  background-color: #fff;
  color: #3882f6;
}

button:active {
  filter: brightness(60%);
}
